label.print{
  font-style: italic;
  font-weight: bold;
}
body {
  background-color: crimson;
  color: azure;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150px;
}

tbody {
  color: azure;
}

thead {
  color: azure;
}

div {
  color: azure;
}